<h2 class="page-header">Coaches</h2>
<div>
    <button class="btn btn-success" (click)="showHide = !showHide">Add new</button>
    <br>
    <app-newad *ngIf="showHide" ></app-newad>
    <br>
    <h1 *ngIf="error">{{error}}</h1>
</div>

<div *ngIf="ad">
    <figure *ngFor="let item of ad" class="snip1336 hover">
    <figcaption>       
        <h2>{{item._creator.local.username}}
            <span>Personal Coach</span>
        </h2>
        <div class="col-md-10" [innerHTML]="item.details"></div>        
        <a class="info">Per One: {{item.price_per_one}}$</a>
        <a class="info">Per Month: {{item.price_per_month}}$</a>
        <div class="button-container text-center">
            <button class="btn-class"><span>Send Message </span><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
        </div>
    </figcaption>
    </figure>   
</div>

