<div class="row"> 
  <div class="col-md-2 menu"> 
    <h4>Users</h4> 
    <ul class="list-group" *ngFor="let chat of chats"> 
      <li (click)="selectChat(chat.to_user._id)" [class.selected-user]="isUserSelected(chat.to_user._id)" class="list-group-item">{{chat.to_user.local.username}}</li> 
    </ul>       
  </div> 

  <div class="col-md-10"> 
    <ol class="chat"> 
      <div *ngFor="let message of messages">
        <li [ngClass]="alignMessage(message.to_user._id)"> 
          <div class="msg" > 
            <p class="username">{{message.from_user.local.username}}</p> 
            <p>{{message.message}}</p> 
            <time>{{message.created_at | date:'mediumTime'}}</time> 
          </div> 
        </li>       
      </div>
        

      </ol> 
  </div> 

</div> 
 
     
<input  class="textarea" type="text" placeholder="Type here!"/> 