<div class="row">
  <div class="col-md-2 menu">
    <h4>Users</h4>
    <ul class="list-group" *ngFor="let chat of chats">
      <li class="list-group-item">{{chat.to_user.local.username}}</li>
    </ul>      
  </div>
  <div class="col-md-10">
    <ol class="chat">
        <li class="other">
          <div class="msg">
            <p>Hola!</p>
            <p>Te vienes a cenar al centro?</p>
            <time>20:17</time>
          </div>
        </li>
        <li class="self">
          <div class="msg">
            <p>Puff...</p>
            <p>Aún estoy haciendo el contexto de Góngora... </p>
            <p>Mejor otro día</p>
            <time>20:18</time>
          </div>
        </li>   
      </ol>
  </div>
</div>

    
<input class="textarea" type="text" placeholder="Type here!"/>
