<div class="snip">
   

</div>

<div class="page">
  <article class="post" style="margin: 15px;">
    <div class="row">
        <p class="col-md-2">Exercise:</p>
        <select class="form-group col-md-10" [(ngModel)]="data._exercise">
            <option *ngFor="let exercise of exercises" [ngValue]="exercise._id" >{{exercise.name}}</option>
        </select>
    </div>

    <div class="row ">
        <div class="row col-md-6">
            <p class="col-md-2">Turns:</p>
            <input class="form-group col-md-3" type="number" (change)="change()" [(ngModel)]="data.turns">
        </div>
        <div class="row col-md-6">
            <div class="row">
                <p class="col-md-2">Reiterations:</p>
                <input style="margin :-3px 0px 2px 54px;" class="form-group col-md-3" type="number" (change)="change()" [(ngModel)]="data.reiterations">
            </div>            
        </div>
    </div>
  </article>

</div>
