<div class="jumbotron text-center">
  <h1>SUMOFIT</h1>
  <p class="lead">Welcome to our best of the best of the best app in the world(nope)</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Powrd by the most advanced framework on planet.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular2 (4)</h3>
    <p>Angular2 or Angular4 or whatever, noone cares. If you reading this you are great(no).</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Something like that. Noone still cares. We are doomed.</p>
  </div>
</div>
